{% extends  "base.html.twig" %}



{% block title %}Index{% endblock %}


{% block stylesheets %}
	

{% endblock %}


{% block titulo %}
	

{% endblock %}


{% block body %}
	
	<table id="tablaBasica" class="tabla"></table>


{% endblock %}




{% block javascripts %}
		
	<script>

		/******EJEMPLO DE TABLA BÁSICA******/
		var formatoTabla = {
			thead:[
				{id:'thNombre', text:'Nombre', refer:'nombre', type:'input', valueField:'id_usuario'},
				{id:'thCorreo', text:'Correo', refer:'correo', type:'text'},
				{id:'thClave', text:'Contraseña', refer:'clave', type:'text'},
				{id:'thAgregar', text:'Agregar', refer:'id_usuario', type:'button'},
				{id:'thRemover', text:'Remover', refer:'id_usuario', type:'button'},
			]
		};

		var tbl = null;
		__cnn.ajax({
			url:'../achagua/consultar',
			completado:function(data){
				fillTable('tablaBasica', 'formatoTabla', data.datos, 'Tabla Básica');
			}
		});
		/******EJEMPLO DE TABLA BÁSICA******/


	</script>
	
{% endblock %}