{% extends  "base.html.twig" %}



{% block title %}Gestión de Usuarios{% endblock %}


{% block stylesheets %}
	
	<style>

		#div_lista{
			float:left;
			min-height: 300px;
			width: 25%;
			border-right: solid 1px #DEDEDE;
		}

		#div_detalle{
			float: right;
			width: 73%;
		}

		.div-item{
			height: 50px;
			border-bottom: solid 1px #999;
			border-top: solid 1px #DEDEDE;
			padding: 5px 4px;
		}

		.div-item > p:first-child {
			font-weight: bold;
			font-size: 16px;
		}

		.div-item:nth-child(2n){
			background-color: #e2e2ff;
		}

		.div-item:hover{
			cursor: pointer;
			background-color: #e2e2CC;
		}

		.item-seleccionado{
			background-color: #F90 !important;
			color: #FFF;
		}

	</style>

{% endblock %}


{% block titulo %}Gestión de Usuarios{% endblock %}


{% block body %}
	
	<div id="div_lista"></div>

	<div id="div_detalle">
		<div>
			<button class="btnSimple" id="btnAgregar"> <i class="fa fa-plus"></i> Agregar Usuario</button>		
		</div>
		<div id="formulario_usuario">			
			<div>
				<div class="campo">
	                <label for="txtNombre">Nombre:</label>
	                <input type="text" id="txtNombre" placeholder="Nombre" />
	            </div>
	            <div class="campo">
	                <label for="txtCorreo">Correo:</label>
	                <input type="text" id="txtCorreo" placeholder="usuario@dominio.com" />
	            </div>
			</div>
			<div>
				<div class="campo">
	                <label for="txtClave">Clave:</label>
	                <input type="password" id="txtClave" placeholder="****" />
	            </div>

	            <div class="campo">
	                <label for="txtClave2">Verificar Clave:</label>
	                <input type="password" id="txtClave2" placeholder="****" />
	            </div>
			</div>
			<div>
				<button id="btnGuardar" class="btnSimple"> <i class="fa fa-save"></i> Guardar</button>
				<button id="btnEliminar" class="btnSimple"> <i class="fa fa-trash"></i> Eliminar</button>
			</div>
		</div>

		
		
	</div>

	<div id="dialogoConfirmacion" style="display: none;">
		<p>Esto eliminará de forma permantente al usuario seleccionado ¿realmente desea continuar?</p>
	</div>

{% endblock %}


{% block javascripts %}

	<script type="text/javascript" src="{{asset('bundles/frontend/js/ejemplo_ajax/programa.js')}}"></script>
	
{% endblock %}





