{% extends  "base.html.twig" %}



{% block title %}Gestión de Usuarios{% endblock %}


{% block stylesheets %}
	
	<style>

		#div_lista{
			float:left;
			min-height: 300px;
			width: 25%;
			border-right: solid 1px #DEDEDE;
		}

		#div_detalle{
			float: right;
			width: 73%;
		}

		.div-item{
			height: 50px;
			border-bottom: solid 1px #999;
			border-top: solid 1px #DEDEDE;
			padding: 5px 4px;
		}

		.div-item > p:first-child {
			font-weight: bold;
			font-size: 16px;
		}

		.div-item:nth-child(2n){
			background-color: #e2e2ff;
		}

		.div-item:hover{
			cursor: pointer;
			background-color: #e2e2CC;
		}

		.item-seleccionado{
			background-color: #F90 !important;
			color: #FFF;
		}

	</style>

{% endblock %}


{% block titulo %}Gestión de Usuarios{% endblock %}


{% block body %}
	
	<div id="div_lista"></div>

	<div id="div_detalle">
		<div>
			<button class="btnSimple" id="btnAgregar"> <i class="fa fa-plus"></i> Agregar Usuario</button>		
		</div>
		<div id="formulario_usuario">			
			<div class="campo">
                <label for="txtNombre">Nombre:</label>
                <input type="text" id="txtNombre" placeholder="Nombre" />
            </div>
            <div class="campo">
                <label for="txtCorreo">Correo:</label>
                <input type="text" id="txtCorreo" placeholder="usuario@dominio.com" />
            </div>
		</div>
		<div>
			<div class="campo">
                <label for="txtClave">Clave:</label>
                <input type="password" id="txtClave" placeholder="****" />
            </div>

            <div class="campo">
                <label for="txtClave2">Verificar Clave:</label>
                <input type="password" id="txtClave2" placeholder="****" />
            </div>
		</div>

		<div>
			<button id="btnGuardar" class="btnSimple"> <i class="fa fa-save"></i> Guardar</button>
			<button id="btnEliminar" class="btnSimple"> <i class="fa fa-trash"></i> Eliminar</button>
		</div>
		
	</div>

{% endblock %}


{% block javascripts %}
	
	<script>
			
	var listaUsuarios = null;	

	$('#btnAgregar').on('click', limpiarFormulario);
	$('#btnGuardar').on('click', guardarUsuario);

	function limpiarFormulario(){
		$('#div_lista div.item-seleccionado').removeClass('item-seleccionado');
		$('#div_detalle input').val('');
		$('#div_detalle input#txtNombre').focus();
	}


	function guardarUsuario(){
		var seleccionado = $('#div_lista .item-seleccionado');
		if(seleccionado.length > 0){
			modificarUsuario(seleccionado);
		}else{
			registrarUsuario();
		}
	}

	function modificarUsuario(seleccionado){
		//idUsuario,  version, nombre, correo, clave
		
		var usuario = {
			idUsuario:seleccionado.attr('data-id'),
			nombre:$('#txtNombre').val(),
			correo:$('#txtCorreo').val(),
			clave:$('#txtClave').val(),
			version:seleccionado.attr('data-version')
		};
		__cnn.ajax({
			url:'../achagua/modificar',
			data:usuario,
			completado:function(data){
				cargarUsuarios();
			}
		})
	}

	/**
	 * Función que sirve para consultar por medio de AJAX, todos los usuarios de la BD
	 */
	function cargarUsuarios(){
		console.log('test');
		__cnn.ajax({
			url:'../achagua/consultar',
			completado:onConsultarCompleto
		});
	}


	function onConsultarCompleto(data){
		switch(data.codigo){
			case -1:
				controlarError(data);
			break;
			case 0:
				mostrarMensajeSinDatos();
			break;
			case 1:
				cargarListaUsuarios(data);
			break;
		}
	}


	function controlarError(data){
		console.error(data.mensaje, data);
	}

	function mostrarMensajeSinDatos(){
		console.info('No hay datos');
	}
	
	function cargarListaUsuarios(data){
		listaUsuarios = data.datos;
		var div_lista = $('#div_lista').empty();
		for (var i = 0; i < listaUsuarios.length; i++) {
			var usuario = listaUsuarios[i];
			var nuevaDiv = $('<div>')
								.addClass('div-item')
								.attr({
									'data-id':usuario.id_usuario, 
									'data-version':usuario.registro_version
								});
			var pNombre = $('<p>').text(usuario.nombre);
			var pCorreo = $('<p>').text(usuario.correo);
			nuevaDiv.append(pNombre, pCorreo);
			div_lista.append(nuevaDiv);
			nuevaDiv.on('click', seleccionarUsuario);
		}
	}

	function seleccionarUsuario(){
		//_this se refiere al objeto sobre el cual se disparó el evento
		//en este caso _this será una de las divisiones que están en la lista de usuarios.
		var _this = $(this);
		var idUsuario = _this.attr('data-id');
		var usuario = obtenerUsuarioPorId(idUsuario);
		if (!usuario) {
			return;
		}

		_this.addClass('item-seleccionado').siblings('.item-seleccionado').removeClass('item-seleccionado');
		//se recomienda buscar en divisiones y no en todo el documento
		var formulario_usuario = $('#formulario_usuario');
		formulario_usuario.find('#txtNombre').val(usuario.nombre);
		formulario_usuario.find('#txtCorreo').val(usuario.correo);

	}

	function obtenerUsuarioPorId(idUsuario){
		for (var i = 0; i < listaUsuarios.length; i++) {
			if(listaUsuarios[i].id_usuario == idUsuario){
				return listaUsuarios[i];
			}
		}
		return false;
	}

	cargarUsuarios();


	</script>		




	
{% endblock %}